.Card {
  background: color(main);
  padding: $margin-medium $margin-small;
  width: 100%;
  border-radius: 10px;
  margin-bottom: $margin-small;
  cursor: grab;
  transition: filter 0.2s ease;
  border: 1px solid rgba($color: #868686, $alpha: 0.1);

  &:hover {
    filter: opacity(45%);
  }

  &:focus-visible {
    outline: 2px solid #dd9951;
  }

  &__title {
    font-size: $font-15;
    font-weight: bold;
    color: color(title);
    text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
    margin-bottom: $margin-tiny;
  }
  &__count {
    font-size: $font-12;
    font-weight: bold;
    color: $mediumGray;
  }
}
